<h1>Add a task </h1>

<%= form_for @task, url: "/task_lists/#{@task_list.id}/tasks", method: :post  do |t| %>
  <p>
    <%= t.label :task %>
    <%= t.text_field :task %>
      <% if @task.errors[:task].any? %>
    <p class="error"><%= @task.errors[:task].first %></p>
  <% end %>
  </p>
  <p>
    <%= t.submit class: "form-button" %>
  </p>

  <p>
    <%=	select_date %>
  </p>

<% end %>