<h1>Add a task list</h1>

<%= form_for @task_list do |t| %>

  <p>
    <%= t.label :name %>
    <%= t.text_field :name %>

  </p>

  <p>
    <%=	 t.date_select("task", order: [:day, :month, :year]) %>
  </p>
  <p>
    <%= t.submit class: "form-button" %>
  </p>

<% end %>